<h2>GMO Facts</h2>
<div class="box">
<figure class="content-01">
   <img src="../img/img-01.jpg" alt="description of image" /> 
   <figcaption>GMO Flour</figcaption>
</figure>
<p>
What is a GMO?
Genetically modified organisms (GMOs) are living organisms whose genetic material has been artificially manipulated in a laboratory through genetic engineering. This creates combinations of plant, animal, bacteria, and virus genes that do not occur in nature or through traditional crossbreeding methods.
<br><br>
Most GMOs have been engineered to withstand the direct application of herbicide and/or to produce an insecticide. However, new technologies are now being used to artificially develop other traits in plants, such as a resistance to browning in apples, and to create new organisms using synthetic biology. Despite biotech industry promises, there is no evidence that any of the GMOs currently on the market offer increased yield, drought tolerance, enhanced nutrition, or any other consumer benefit.
<br><br>
Visit the What is GMO page for more information and a list of high-risk crops.
<br><br>
Are GMOs safe?
In the absence of credible independent long-term feeding studies, the safety of GMOs is unknown. Increasingly, citizens are taking matters into their own hands and choosing to opt out of the GMO experiment.
<br><br>
Are GMOs labeled?
Sixty-four countries around the world, including Australia, Japan, and all of the countries in the European Union, require genetically modified foods to be labeled. Canada does not require any GMO labeling.
<br><br>
GMOs are not currently labeled in the United States. However, the National Bioengineered Food Disclosure Standard (NBFDS) was published in the Federal Register on December 21, 2018. This law, which you may have heard called the DARK Act, is the start of mandatory GMO labeling in the United States. It means that some—but not all—products containing GMOs will have to be labeled by 2022. In its current form, categorical exemptions prevent this law from delivering the meaningful protections Americans deserve.
</p>
</div>

<h2>What are the impacts of GMOs on the environment?</h2>
<div class="box">
<figure class="content-01">
   <img src="../img/img-05.jpg" alt="description of image" /> 
   <figcaption>Gmo Farm</figcaption>
</figure>

<p>More than 80% of all genetically modified crops grown worldwide have been engineered for herbicide tolerance.2 As a result, the use of toxic herbicides, such as Roundup®, has increased fifteenfold since GMOs were first introduced.3 In March 2015, the World Health Organization determined that the herbicide glyphosate (the key ingredient in Roundup®) is “probably carcinogenic to humans.”
<br><br>
Genetically modified crops also are responsible for the emergence of “superweeds” and “superbugs,” which can only be killed with ever more toxic poisons such as 2,4-D (a major ingredient in Agent Orange).4,5
<br><br>
Most GMOs are a direct extension of chemical agriculture and are developed and sold by the world’s largest chemical companies. The longterm impacts of these GMOs are unknown. Once released into the environment, these novel organisms cannot be recalled.
</p>
</div>
