<h2>GMO FOOD</h2>
<div class="thumbnail-t">
<figure>
   <img src="img/img-02.jpg" alt="GMO Food image" /> 
   <figcaption>GMO Food 1</figcaption>
</figure>
<figure>
   <img src="img/img-03.jpg" alt="GMO Food image" /> 
   <figcaption>GMO Food 2</figcaption>
</figure>
<figure>
   <img src="img/img-04.jpg" alt="GMO Food image" /> 
   <figcaption>GMO Food 3</figcaption>
</figure>
<figure>
   <img src="img/img-06.jpg" alt="GMO Food image" /> 
   <figcaption>GMO Food 4</figcaption>
</figure>
<figure>
   <img src="img/img-07.jpg" alt="GMO Farm image" /> 
   <figcaption>GMO Farm</figcaption>
</figure>
<figure>
   <img src="img/img-08.jpg" alt="GMO Farm image" /> 
   <figcaption>GMO Farm</figcaption>
</figure>
</div>
