<h2>Portfolio Page</h2>
<div class="thumbnail-t">
<figure>
   <img src="../img/img-02.jpg" alt="description of image" /> 
   <figcaption>Gmo Food 1</figcaption>
</figure>
<figure>
   <img src="../img/img-03.jpg" alt="description of image" /> 
   <figcaption>Gmo Food 2</figcaption>
</figure>
<figure>
   <img src="../img/img-04.jpg" alt="description of image" /> 
   <figcaption>Gmo Food 3</figcaption>
</figure>
<figure>
   <img src="../img/img-06.jpg" alt="description of image" /> 
   <figcaption>Gmo Food 4</figcaption>
</figure>
<figure>
   <img src="../img/img-07.jpg" alt="description of image" /> 
   <figcaption>Gmo Food 5</figcaption>
</figure>
<figure>
   <img src="../img/img-08.jpg" alt="description of image" /> 
   <figcaption>Gmo Food 6</figcaption>
</figure>
</div>